@{
    ViewData["Title"] = "Movie List";
}

@model List<MovieForm>

<br />
<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Release Year</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Note</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
            {
        <tr>
            <td>@movie.categories.category</td>
            <td>@movie.title</td>
            <td>@movie.year</td>
            <td>@movie.rating</td>
            <td>@movie.edited</td>
            <td>@movie.lentTo</td>
            <td>@movie.note</td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-movieid="@movie.movieId">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-movieid="@movie.movieId">Delete</a></td>
        </tr>
            }
    </tbody>
</table>