@{
    ViewData["Title"] = "Add Movie";
}

@model Mission4.Models.MovieForm

<br />
<div class="mx-auto" style="width: 80%;">
    <form method="post">
        <div class="form-row">
            <div class="col">
                <label asp-for="category">Category</label>
                <input asp-for="category" class="form-control" />

                <label asp-for="year">Year</label>
                <input asp-for="year" class="form-control" />

                <label asp-for="rating">Rating</label>
                <select asp-for="rating" class="form-control">
                    <option hidden disabled selected>select an option</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>

                <label asp-for="lentTo">Lent To</label>
                <input asp-for="lentTo" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="title">Title</label>
                <input asp-for="title" class="form-control" />

                <label asp-for="director">Director</label>
                <input asp-for="director" class="form-control" />

                <label asp-for="edited">Edited</label>
                <select asp-for="edited" class="form-control">
                    <option hidden disabled selected>select an option</option>
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>

                <label asp-for="note">Notes</label>
                <input asp-for="note" class="form-control" />
            </div>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-dark">Add Movie</button>
        </div>
    </form>

    @if (!ViewData.ModelState.IsValid)
    {
        <p>@ViewData.ModelState["Category"].Errors[0].ErrorMessage</p>
        <p>@ViewData.ModelState["Title"].Errors[0].ErrorMessage</p>
        <p>@ViewData.ModelState["Year"].Errors[0].ErrorMessage</p>
        <p>@ViewData.ModelState["Director"].Errors[0].ErrorMessage</p>
        <p>@ViewData.ModelState["Rating"].Errors[0].ErrorMessage</p>
    }
</div>
